h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Rubik', sans-serif;
}

body{
  padding-top:80px;
  word-wrap:break-word;
  background: #FFF url(img/bg1.png) no-repeat top right;
}

img{
  height: 200px;
}

p{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
/* =========INDEX========= */
.jumbotron{
  background-color: #ffffffe8;
  border: 10px solid #8BC34A;
}

.btnLogin{
  background-color: #CDDC39;
  margin-right: 10px;
  font-weight: bold;
}

.btnSign{
  background-color:#CDDC39;
  font-weight: bold;
}
/* =========LOGIN========= */
.form-control{
  border: 3px solid #CDDC39;
}

a{
  color:#8BC34A;
}

.loginTitle, .signTitle{
  background: #80808033;
  width: 50%;
  border-radius: 10px;
  padding: 9px;
}

.form-control {
  border: 3px solid #729155;
}

.btn-warning {
  color: #fff;
  background-color: #8BC34A;
  border-color: #4CAF50;
}
/* =========SIGNUP========= */

/* =========PROFILE========= */
.row{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

header{
  text-align: center;
  margin-bottom: 15px;
}

.headerTitle{
  font-size: 50px;
}
.loginBtn{
  background: #6fbc72;
  border: 2px solid #009688;
  color: #FFF;
}

.hdrBtn{
  margin-right: 20px;
  background: #d1d15d;
  font-weight: bold;
  font-size: 15px;
  border: 2px solid black;
}

.imgPost{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fa{
  font-size: 20px;
}
.heart{
  margin-right: 5px;
}

.well{
  background: #cddc3999;
  border: 5px solid #8BC34A;
  border-radius: 10px;
}
.entryTitle{
  text-align: center;
}

.messages{
  background: #ffffffcc;
  padding: 10px;
  color: #443b67;
  border: 4px dashed#009688;
  border-radius: 7px;
  margin-bottom: 25px;
}

/* =========WRITE========= */

.writeMsg{
  border: 6px solid #4CAF50;
  border-radius: 8px;
  background: #fcfcfcba;
  text-align: center;
  margin-top: 80px;
  padding-bottom: 15px;
}

.btn1, .btn2, .btn3, .btn4{
  margin-right: 10px;
  font-size:18px;
  font-weight: bold;
  border: 2px solid black;
}

.btn1{background: #fcda6e
}

.btn2{
  background:#FFC107;
}

.btn3{
  background: #fcda6e;
}

.btn4{
  background:#FFC107;
}
input{
  display: block;
  margin-bottom: 22px;
  border: 2px solid #8BC34A;
  border-radius: 5px;
}

textarea{
  margin-bottom: 22px;
  border: 2px solid#8BC34A;
  border-radius: 5px;
}

form{
  display: inline-block;
}

.msgSubmit{
  background: #d1d15d;
  width: 40%;
  height: 30px;
  border-radius: 5px;
  border: none;
}

/* =========COMMUNITY========= */

.communityTitle{
  text-align: center;
  font-weight: bold;
}